<h1></h1>
<p></p>



        <md-card flex-sm="100" flex-gt-sm="70" flex-gt-md="70" flex-gt-lg="70"
         md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline partial-title m-b-20"> POWERED BY FORECAST.IO</span>
            <span class="md-subhead m-b-40"> This page is powered by the Forecast.io API. The Forecast API allows you to look up the weather anywhere on the globe, returning (where available): Current conditions; Minute-by-minute forecasts out to 1 hour; Hour-by-hour forecasts out to 48 hours; and Day-by-day forecasts out to 7 days.
          </md-card-title-text>
          <md-card-title-media>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="https://developer.forecast.io/" target="_blank" class="md-primary md-raised">Learn More</md-button>
        </md-card-actions>
      </md-card>