        <md-card flex-sm="100" flex-gt-sm="70" flex-gt-md="70" flex-gt-lg="70"
         md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline partial-title m-b-20"> ABOUT THIS PAGE</span>
            <span class="md-subhead m-b-40"> This page was created by Anthony Comito using Node.js, Express, Angular 1.4, UI-router, Angular-Material, Geocoder (npm), and the Forecast.io API.
          </md-card-title-text>
          <md-card-title-media>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="https://github.com/acomito/ngWeather.git" target="_blank" class="md-primary">See GitHub Repo</md-button>
           <md-button href="http://www.AnthonyComito.com/" target="_blank" class="md-primary md-raised">See More Projects</md-button>
        </md-card-actions>
      </md-card>